absl-py==0.15.0
asttokens==3.0.1
astunparse==1.6.3
cachetools==4.2.4
certifi==2026.6.17
charset-normalizer==3.4.7
clang==5.0
comm==0.2.3
-e git+https://github.com/spring-epfl/CTGAN.git@70d5bdd70c5ece4d8693d7bf83838c373436cedd#egg=ctgan
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
exceptiongroup==1.3.1
executing==2.2.1
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.1.0
husl==4.0.3
idna==3.18
importlib_metadata==8.7.1
ipykernel==6.31.0
ipython==8.18.1
jedi==0.19.2
joblib==1.5.3
jupyter_client==8.6.3
jupyter_core==5.8.1
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
loguru==0.5.3
Markdown==3.9
MarkupSafe==3.0.3
matplotlib==3.4.3
matplotlib-inline==0.1.3
nest-asyncio==1.6.0
numpy==1.19.5
oauthlib==3.3.1
opt-einsum==3.3.0
packaging==26.2
palettable==3.3.3
pandas==1.3.5
parso==0.8.7
pexpect==4.9.0
pillow==11.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.4.0
prompt_toolkit==3.0.52
protobuf==3.20.3
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.2
pyzmq==27.1.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
six==1.15.0
stack-data==0.6.3
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.6.0
torch==1.9.1
torchvision==0.10.1
tornado==6.5.7
traitlets==5.15.1
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.8.1
Werkzeug==3.1.8
wrapt==1.12.1
zipp==3.23.1
